*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
	height: 100%;
}

body {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-weight: normal;	
	background: url(denim.png);
}

#wrapper {	
  display: grid;
  grid-template: "main debugger" auto / 1fr 50ch;
	height: 100%;
}

main {
  grid-area: main;
}

.app {
	max-width: 80ch;
	width: 100%;
	margin: 1rem auto;
	overflow-y: auto;

	background: #fff;
	padding: 1rem;
	border-left: 1px solid red;
}

#debugger {
  grid-area: debugger;
	background: #fff;

	border-left: 5px solid #999;

	h2 {
		margin: 0;
		margin-left: -5px;
		background: #999;
		padding: 0.25rem;
		font-size: 1rem;
		text-transform: uppercase;
	}
}
